<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>

<table border=1>
  <tr>
    <td rowspan=3>이미지</td>
    <td>email</td>
  </tr>
  <tr>
    <td>phone</td>
  </tr>
  <tr>
    <td>name</td>
  </tr>
  <tr>
    <td><input type="button" name="img_change" value="이미지변경"></td>
    <td><input type="button" name="profie_change" value="프로필수정"></td>
  </tr>
</table>

</body>

</html>
