<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>모여라 인벤져스!</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }
</style>

<body>
  <!--웹사이트의 Navigation View-->
  <nav>
    <div class="navbar">
      <div id="logo">
        <a href="main"> 홈</a>
      </div>
      <div id="account">
        <a href="login" class="btn_white">로그인</a>
      </div>

      <div id="menu">
        <div class="dpdw">
          <button class="dropbtn"><a href="projectView">프로젝트</a></button>
          <div class="dpdw-content">
            <a href="projectView?category=it">IT</a>
            <a href="projectView?category=design">디자인</a>
            <a href="projectView?category=???!@E!@E">공모전</a>
            <a href="projectView?category=etc">기타</a>
          </div>
        </div>
        <div class="dpdw">
          <button class="dropbtn"><a href="hobbyView">취미</a></button>
          <div class="dpdw-content">
            <a href="hobbyView?category=sports">스포츠</a>
            <a href="hobbyView?category=game">게임</a>
            <a href="hobbyView?category=computer">컴퓨터</a>
            <a href="hobbyView?category=music">음악</a>
            <a href="hobbyView?category=etc">기타</a>
          </div>
        </div>
        <div class="dpdw">
          <button class="dropbtn"><a href="circleView">동아리</a></button>
          <div class="dpdw-content">
            <a href="circleView?category=culture">문화</a>
            <a href="circleView?category=mayjor">전공</a>
            <a href="circleView?category=etc">etc</a>
          </div>
        </div>
        <a href="information">학내정보</a>
      </div>
    </div>
  </nav>

  <div id="container">
    <div class="postView">
      <table width="700" cellpadding="2" cellspacing="0">
        <tr>
          <td colspan="5">
            <h1>동아리 모집</h1></td>
        </tr>
        <tr>
          <th width="10%">번호</th>
          <th>제목</th>
          <th width="15%">글쓴이</th>
          <th width="15%">날짜</th>
          <th width="10%">조회수</th>
        </tr>

        <!-- for(var i =0; i<numberOfPost; i++){ -->

        <tr align="center" onmouseover="this.style.backgroundColor='#efefef';" onmouseout="this.style.backgroundColor='#ffffff';">
          <td>
            <script>
              document.write(postNumber);
            </script>
          </td>
          <td>
            <a href="">
              <script>
                document.write(postName);
              </script>
            </a><img src="image/new.png"></td>
          <td>
            <script>
              document.write(writer);
            </script>
          </td>
          <td>
            <script>
              document.write(uploadDate);
            </script>
          </td>
          <td>
            <script>
              document.write(views);
            </script>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="bottom">
    <ul class="links">
      <li><a href="/about">©ds</a></li>
      <li><a href="/notice">공지사항</a></li>
      <li><a href="/question">문의하기</a></li>
    </ul>
  </div>
</body>

</html>
