<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>

<body>
  <form action="join" method="post">
    <div>
      이메일 : <input type="text" name="userEmail">
    </div>
    이름 : <input type="text" name="userName">
    비밀번호 : <input type="password" name="userPass">
    전화번호 : <input type="text" name="userPhone">
    <button>가입</button>
  </form>



</body>

</html>
